img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*
header {
    margin: 0 auto;
}
*/

/*Menu styling*/

nav {
    background-color: #28292C;
    height: 5vw;

}

/*Når man hover over links */
header nav a:hover {
    color: white;
}

header nav a {
    text-decoration: none;
    color: #CCCCCC;
    font-size: 14px;
    padding: 27px 10px 21px;

}


/*Boksen rundt om knapperne*/
header nav li {
    /*Den ydre afstand fra boksens kant til den næste boks*/
    margin: 0 1rem;
    text-decoration: none;
    margin-top: 30px;


}

header nav img {
    margin-top: -45px;
    margin-left: 5px;
    width: 200px;
}

ul {}

/*Selve knappen*/
nav li {
    font-size: 0.8rem;
    /*Den indre afstand i boksen*/
    padding: 0;
    /*Fjerner kanten på knapperne*/
    border: 0;
    font-family: sans-serif;


}


/*BURGER*/
.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    text-align: center;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        padding: 0;
        margin: 0;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT HER*/

/*Splash*/

#splash img {}
