/*OVERORDNET*/
*{
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*SPLASH*/
#splash img {
    width: 100%;
    height: 500px;
}

/*MENU*/
nav {
    display: block;
    background-color: #28292C;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
/*    padding: 0px 200px 0px 200px;*/
}

#logo {
    position: fixed;
    left: 200px;
    width: 200px;
    top: 1vw;
}

/*Når man hover over links */
header nav a:hover {
    color: white;
}

header nav a {
    text-decoration: none;
    color: #CCCCCC;
    font-size: 14px;
    font-family: 'Exo', sans-serif;
}


/*Boksen rundt om knapperne*/
header nav li {
    /*Den ydre afstand fra boksens kant til den næste boks*/
    margin: 0 1rem;
    text-decoration: none;
    margin-top: 25px;
    margin-right: -7px;
}

header nav ul {
    margin-left: 50px;

}

/*Selve knappen*/
nav li {
    font-size: 0.8rem;
    /*Fjerner kanten på knapperne*/
    border: 0;
    font-family: sans-serif;
}

/*MENU SLUT*/

/*BURGER*/
.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    position: absolute;
    display: inline-block;
    top: .75em;
    left: 0.5rem;
    color: white;
    font-size: 1.5rem;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    font-family: cursive;
    text-align: center;
}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT*/

/*TEKST STYLING*/

h1 {
    font-family: 'Exo', sans-serif;
    font-size: 3vw;
    color: white;

}

h2 {
    font-size: 3vw;
    font-family: sans-serif;
    font-family: 'Exo', sans-serif;
}

p {
    font-family: 'Exo', sans-serif;
    font-size: 1.6vw;
}

/*INFO STYLING*/

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
/*    flex-direction: row;*/
    margin: 0% 15% 0% 15%;
}

#video {
    background-color: #EAEAEA;
}

.video {
    width: 80vw;
    height: 45vw;

}

#info2 {
    background-color: #414B5A;
}

#generelt {
    background-color: #EAEAEA;

}

.col1, .col2, .col3, col4{
    margin: 5% 0% 5% 0%;
}

.col4 {
    flex-basis: 300px;
    flex-grow: 1;
    display: block;
    margin: 5% 0% 5% 0%;
}

/*FOOTER*/

footer {
    text-align: center;
    background-color: #28292C;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/*Tekst i footer*/
footer p {
    /*    padding-top: 0.5rem;*/
    text-align: center;
    width: 20rem;
    color: #9EA1A5;

}

/*FOOTER SLUT*/
