img {
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/*Menu styling*/

nav {
    background-color: #28292C;
    height: 5.5vw;
    position: fixed;
    top: 0;
    width: 100%;

}

/*Når man hover over links */
header nav a:hover {
    color: white;
}

header nav a {
    text-decoration: none;
    color: #CCCCCC;
    font-size: 14px;
    padding: 27px 10px 21px;
}


/*Boksen rundt om knapperne*/
header nav li {
    /*Den ydre afstand fra boksens kant til den næste boks*/
    margin: 0 1rem;
    text-decoration: none;
    margin-top: 40px;
}

header nav img {
    margin-top: -45px;
    margin-left: 5px;
    width: 200px;
}



/*Selve knappen*/
nav li {
    font-size: 0.8rem;
    /*Den indre afstand i boksen*/
    padding: 0;
    /*Fjerner kanten på knapperne*/
    border: 0;
    font-family: sans-serif;



}


/*BURGER*/
.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    text-align: center;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
        padding: 0;
        margin: 0;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT HER*/

/*Splash*/

#splash img {
    width: 100%;
    height: 500px;
}

/*info styling*/

h1 {
    font-family: 'Advent Pro', sans-serif;
}

h2 {
    font-size: 42px;
    font-family: sans-serif;
    font-family: 'Advent Pro', sans-serif;
}

p {
    font-family: 'Advent Pro', sans-serif;
}

#info {
    margin: 200px;
    margin-top: 70px;
}

.col1 p {
    font-size: 26px;
    padding: 0px 200px 0px 0px;

}

#video {
    background-color: #EAEAEA;


}

.col2 {
    padding: 0px 15px;
    margin: 0 210px;
    padding: 60px 200px 60px 0px;
}

.video {
    width: 1000px;
    height: 600px;
    margin: auto;
}
